.filmInfo{
    position: absolute;
    font-size: 0.8rem;
    bottom:0 ;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
}
.frameIndex{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: .5rem;
    font-weight: 600;
}
 

.frameIndexArrow {
 width: 14px;
 height: 10px;
}
 .sprocketsTop,
.sprocketsBottom {
  position: absolute;
  left: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  pointer-events: none;
}

.sprocketsTop {
  top: 4%;
}

.sprocketsBottom {
  bottom: 4%;
}

/* individual hole */
.sprocket {
  width: 36px;
  height: 44px;
  background: #111;
  border-radius: 2px;
  box-shadow: inset 0 0 2px rgb(247, 159, 43);
}